.parent {
    position: fixed;
    height: 100%;
    width: 100%;
}
.nav-bar {
  float: left;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 24%;
  max-width: 250px;
  height: 100%;
  background-color: #DDDDDD;
}

.title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
}
.rooms-list {

}
.room-name {
    margin: 5px;
    color: gray;
}



.main {
    overflow: auto;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 100%;
    background-color: white;
}

.room-title{
    font-size: 1.4rem;
}

.messages-list li {
  padding-bottom: 3px;
  border-bottom: solid 1px;
  border-color: rgb(190, 190, 190);
  list-style-type: none!important;
}

.message-username, .message-time{
  color: rgb(190, 190, 190);
  font-size: 0.8rem;
}

.message-time {
  float: right;
}
