.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-title {
    margin: 0 0 0.8rem 0;
}

.modal-dialog {
    background-color: #DDDDDD;
    margin: 15% auto; /*15% from the top and centered */
    padding: 30px;
    border: none;/*Could be more or less, depending on screen size */
    width: 295px;
    color: #444444;
}
