<div class="parent">
    <div class="nav-bar">
        <div class="title">Bloc Chat</div>
        <button class="new-room-button" type="button" ng-click="home.openNewRoom()">New room</button>
        <ul class="rooms-list" >
            <li class="room-name" ng-repeat="room in home.chatRoomArray" ng-click="home.setCurrentRoom(room)">
                {{room.$value}}
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="room-title">{{home.currentRoomTitle}}</div>
        <ul class="messages-list">
            <li class="message" ng-repeat="message in home.messageArray">
                <span class="message-username">{{message.user}}</span>
                <span class="message-time">{{message.sentAt}}</span>
                <br>
                <span class="message-content">{{message.content}}</span>
            </li>
        </ul>
    </div>
</div>
